doctype
html
  head(lang="en")
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name="author", content="")
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel="icon" type="image/png" href="images/favicon_16X16.png")
    link(rel="apple-touch-icon" sizes="57x57" href="images/apple-touch-icon.png")
    link(rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png")
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700' ,  rel='stylesheet' , type='text/css')
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/jquery.countdown.css")
    link(rel="stylesheet", href="css/foundation.css")
    link(rel="stylesheet", href="css/main.css")
    script( src="js/modernizr.custom.67028.js")
  body
    // Start Wrapper
    #wrapper
      div(class="fullscreen background", style="background-image:url('../images/bg.jpg');",  data-img-width="1920", data-img-height="1100")
      // Start Header
      header.row
        #logo.small-12.columns.text-center
          a(href="#")
            img(src="images/logo.png", alt="Logo")
      // End Header
      // Start Main
      section.small-12.columns.text-center
        .brand
          h1.brand_title Coming Soon
          h3.brand_subtitle Be ready, there is just:
      section.row
        .small-12.columns
          #countdown-clock
      section.small-12.columns.text-center
        form(id="form", class="forma")
          .row
            .small-12.medium-8.columns
              input(type="text", placeholder="Your Email")
            .small-12.medium-4.columns
              input(type="submit", value="Keep me updated").button
      // End Main
      // Start Footer
      footer.row
        .small-12.columns
          ul#social-icons.text-center
            li
              a(href="#")
                i.fa.fa-facebook
            li
              a(href="#")
                i.fa.fa-twitter
            li
              a(href="#")
                i.fa.fa-dribbble
            li
              a(href="#")
                i.fa.fa-google-plus
            li
              a(href="#")
                i.fa.fa-youtube
      // End Footer
    // End Wrapper
    // Don't forget to concatenate and minify javascript in a single file when moved to production
    script(src="js/jquery.min.js")
    script(src="js/jquery.plugin.min.js")
    script(src="js/jquery.countdown.min.js")
    script(src="js/foundation.min.js")
    script(src="js/main.js")
